@media (max-width: 880px) {
  .course_details {
    flex-direction: column;
  }
  .course_details .card-body {
    padding-left: 10px;
  }
  .course_details img {
    width: 100%;
    border-radius: 15px;
  }
}
@media (max-width: 575px) {
  .pdf_dowonload {
    flex-direction: column;
  }
}
